.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  background: var(--sand-3);
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--sand-6);
  /* Aqui muda o posicionamento pro inicio */
  place-content: start;
}

form div:first-child,
.Desc {
  grid-column: 1/3;
}

.atkDef {
  display: flex;
  gap: 0.5rem;
}

.form button {
  background-color: red;
  grid-column: 2;
  place-self: end;
}

.form div input,
.form div select {
  max-height: 46px;
  min-height: 46px;
}
