.header {
  background-color: var(--sand-1);
  position: fixed;
  width: 100vw;
  top: 0;
  box-shadow: 0 1px var(--sand-6);
  z-index: 1000;
}

.nav,
.navMobileActive {
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: space-between;
  justify-self: start;
}

.navMobileActive {
  transition: 0.3s;
  transform: initial;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoTitle {
  display: grid;
}

.logoTitle img {
  grid-area: 1/-1;
  place-self: center center;
}

.logoTitle span {
  grid-area: 1/-1;
  font-family: "yugiCardTitle";
  font-size: 48px;
  color: white;
  place-self: center center;
  text-shadow: 2px 2px 2px #1e1e1e;
}

.div__headerButton {
  display: flex;
  gap: 1rem;
}

.headerButton {
  background-color: var(--sand-3);
  padding: 0.65rem 1.5rem;
  border-radius: 4px;
  font-family: "Inter";
  font-size: 1.2rem;
  color: var(--sand-11);
}

.headerButtonGitbtn {
  color: var(--sand-11);
  width: 44px;
  height: 44px;
  padding: 1rem;
}

.headerButton:hover {
  background-color: var(--sand-4);
  color: var(--sand-12);
}

.div__headerButton :global(.active) {
  background: var(--sand-7);
  color: var(--sand-12);
}

.mobileButton {
  display: none;
}

@media (max-width: 800px) {
  .mobileButton {
    display: flex;
    background-color: var(--sand-3);
    color: var(--sand-11);
    border-radius: 4px;
    height: 40px;
    width: 40px;
    padding: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
  }
  .mobileButton:hover,
  .mobileButton:focus {
    background-color: var(--sand-4);
    color: var(--sand-12);
    outline: none;
    box-shadow: 0 0 0 3px var(--sand-2), 0 0 0 4px var(--amber-10);
  }
  .mobileButton::after {
    content: "";
    display: block;
    width: 1.2rem;
    height: 2px;
    border-radius: 2px;
    background: currentColor;
    box-shadow: 0 6px currentColor, 0 -6px currentColor;
    transition: 0.2s;
  }

  .div__headerButton,
  .headerButtonGit {
    display: none;
  }

  .mobileButtonActive::after {
    transform: rotate(-90deg);
    width: 4px;
    height: 4px;
    box-shadow: 0 8px currentColor, 0 -8px currentColor;
  }

  /* esse é o se estiver ativo */
  .navMobileActive .div__headerButton {
    display: block;
    position: absolute;
    top: 65px;
    right: 0px;
  }

  .navMobileActive .headerButton {
    background-color: none;
    display: flex;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
}
