.header {
  background-color: var(--sand-1);
  position: fixed;
  width: 100vw;
  top: 0;
  box-shadow: 0 1px var(--sand-6);
  z-index: 1000;
}

.nav {
  display: flex;
  align-items: center;
  height: 4rem;
}
